doctype html
html
  head
    title= title
    //dept= dept
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  body
    script(src="/javascripts/jquery.js")
    ul
      li Text 1
      li Text 2
    block content
